/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {  /* universal selector */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* bigger than the predefined line height */
    color: #777;
    padding: 30px; /* body의 padding은 inheritance X */
}

/* 여기까지 Basic Reset */

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right top,
        hsla(111, 55%, 64%, 0.801),
        rgba(40, 180, 133, 0.801)),
        url(../img/hero.jpg);
    background-size: cover; 
    background-position: top; /* container와 img의 top을 맞춤 */
    
    clip-path: polygon(0  0, 100% 0, 100% 75% , 0 100% ); /* 좌표는 시계방향 */
    /* https://bennettfeely.com/clippy/ - polygon 좌표 시뮬 */
    position: relative;

}   

.logo-box {
    position: absolute; /* 부모 선택자로부터 상대 위치 참조? */
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px; /* 브라우저에 의해 width는 자동 조정 */
}